:root {
    --primary-color: #D0DABA;
    --primary-shadow-color: #BDC7AE;
    --secondary-color: #132247;
    --secondary-shadow-color: #263553;
    --red: #DABABA;
    --red-shadow: #C7AEAE;

}

body {
    --bs-body-color: var(--secondary-color);
    --bs-body-bg: var(--primary-color);
}

.color-primary {
    color: var(--primary-color) !important;
}

.color-secondary {
    color: var(--secondary-color) !important;
}

.bg-color-primary {
    background-color: var(--primary-color) !important;
}

.bg-color-secondary {
    background-color: var(--secondary-color) !important;
}

.border-color-secondary {
    border: 2px solid;
    border-color: var(--secondary-color) !important;
    border-radius: 1rem;
}

.navbar-item:hover,
.navbar-item:focus {
    background-color: var(--primary-color);
    color: var(--secondary-color) !important;
}

.button-primary {
    color: var(--secondary-color) !important;
    background-color: var(--primary-color) !important;
}

.button-primary:hover {
    background-color: var(--primary-shadow-color) !important;
}

.button-secondary {
    color: var(--primary-color) !important;
    background-color: var(--secondary-color) !important;
}

.button-secondary:hover {
    background-color: var(--secondary-shadow-color) !important;
}

.button-red {
    color: var(--secondary-color) !important;
    background-color: var(--red) !important;
}

.button-red:hover {
    background-color: var(--red-shadow) !important;
}