{% extends 'base.html' %}
{% block title %}Forgot Password | Pulse Reader{% endblock %}
{% block body %}
<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-4">
      <div class="card border-color-secondary">
        <div class="card-header border-color-secondary bg-color-secondary color-primary">
          FORGOT PASSWORD
        </div>
        <div class="card-body rounded-bottom bg-color-primary">
          <form class="p-20" method="post">
            {% csrf_token %}
            <div class="form-group mb-2">
              <label for="InputEmail">Email</label>
              {{ form.email }}
            </div>
            <button class="btn button-secondary" style="height: auto;">SEND RESET LINK</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
