{% extends 'base.html' %}
{% block title %}Reset Password | Pulse Reader{% endblock %}
{% block body %}
<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-4">
      <div class="card border-color-secondary">
        <div class="card-header border-color-secondary bg-color-secondary color-primary">
          RESET PASSWORD
        </div>
        <div class="card-body rounded-bottom bg-color-primary">
          <form class="p-20" method="post">
            {% csrf_token %}
            <div class="form-group mb-2">
              <label for="InputPassword">New Password</label>
              {{ form.password }}
            </div>
            <div class="form-group mb-3">
              <label for="InputPassword">New Password Check</label>
              {{ form.password2 }}
            </div>
            <button class="btn button-secondary" style="height: auto;">RESET</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
